<div class="pushTop">
  <h3 class="pageTitle"> Music Biography </h3>
  <div class="indent">
    <p>My first experience with music was in elementary
      school where I learned how to play the recorder and sang in the chorus
      as a soprano. When I entered junior high school, I ventured
      away from music seeing what other options were open for
      me in other school activites. The summer before eighth grade, I
      started playing guitar in a rock band at a summer camp.
      After the summer camp, I continued to study guitar with Benjamin Gomez. I studied
      various styles of playing ranging from classical, flamenco,
      jazz, and some forms of metal. </p>

    <p>Once I entered high school, I started playing upright bass
       while studying with Benjamin Gomez. I enrolled in the Stockdale
       High School String Ensemble and Symphony Orchestra, while
       continuing my studies in jazz guitar by playing in the Stockdale High
       School Jazz Band. Outside of school activities, I began
       singing with the St. Phillip's the Apostle, Joyful Noise choir
       as an alto my freshman year. My sophmore year, I began to
       play with the Bakersfield Youth Symphony Orchestra and started
       playing electric bass for the Joyful Noise choir. I still
       continued with the Stockdale High School's string ensemble,
       symphony orchestra, and jazz band. In my senior year, I
       began studying with Whitney Herbst and participated in the
       Kern County's Honor Orchestra program and Stockdale High School Wind
       Symphony while playing in the previous ensembles listed. I
       performed in the CMEA Solo/Ensemble Frestival in Bakersfield, California
       playing The Elephant by Camille Saint-Seans and Piano Quintet in A Major,
       D. 667 by Franz Schubert. Throughout my years in high
       school, I also played in two musicals, "All Shook Up" and
       "Once Upon A Mattress." </p>

    <p>I currently reside in Long Beach, California where I'm
      enrolled in California State University, Long Beach as an
      undergraduate student. I am a music performance and education major
      in the Bob Cole Conservatory of Music. I play for the Cole
      Conservatory Symphony Orchestra. Past ensembles I have played for were
      the Cole Conservatory Wind Symphony,Symphonic Band, and
      New Music Ensemble. I gig around the Southern California area and currently
      study with Tom Peters. Teachers I've studied with in my years of college
      include Gary Karr and Dennis Trembly. I have coached bass sections for the
      Bob Cole Honors Festival and for Long Beach Polytechnic High School.
      I work in the Daniel Recital Hall as a stage and sound technician on the campus of
      California State University, Long Beach. I have work several types
      of performances and various organizational events. I also intern in the
      Carpenter Performing Arts Center and The Compound Studio in Signal Hill,
      California. I am experienced with running sound, setting up as stage help,
      and working as a lighting techinican. </p>

  </div>
</div>
