<div class="pushTop">
  <h1 class="pageTitle">Contact Me</h1>

  <br /><br />

  <p>Send me an email by clicking the button below, or browse my other forms of communication and media.</p>

  <br />
  <div class="bubbleContainer">
    <div class="contactBubble" ng-click="goTo('mailto:luteralexis@gmail.com?subject=Contact Me')"><a>Email</a></div>
    <div class="contactBubble" ng-click="displayPhone = !displayPhone" ng-class="{ 'contactBubble-phone': displayPhone }">
      <a>{{displayPhone ? "562-270-2541" : "Text"}}</a>
    </div>
    <div class="contactBubble" ng-click="open('https://facebook.com/alexisluter')" href=""><a>Facebook</a></div>
    <div class="contactBubble" ng-click="open('https://www.youtube.com/channel/UCK-ZQ0V98irt4r7jMzHVyQg')" href=""><a>YouTube</a></div>
  </div>

  <br /><br /><br /><br />

  (luteralexis@gmail.com, 562-270-2541)


</div>
