<br />
<br />
<div class="mus482b">

  <h4 class="subHeader">Improvisation Project</h4>

  <p><a href="subHeader"><a href="/#/improvMaterials">Improvisation Materials</a></p>

  <p><a href="subHeader"><a href="/#/improvLP">Improvisation Lesson Plan</a></p>

  <br  />

  <h4 class="subHeader">Composition Project</h4>

  <p><a href="https://drive.google.com/open?id=1NH4gvBb8XLFdg7pur30sxH6iGr9hBGvp"target="blank">Old Rauma Score and Parts</a></p>

  <p><a href="subHeader"><a href="/#/compReflection">Reflection</a></p>

  <br   />

  <h4 class="subHeader">Creative Curriculum Project</h4>

  <p><a href="https://drive.google.com/open?id=1fth4HQnHkqPgvF5GHf_cYKOt1QFNXTeg" target="blank">Creative Curriculum Project</a></p>

  <br  />
  <br  />

</div>
