<br />
<br />
<div class="mus482b">

  <h4 class="subHeader">Improvisation Project</h4>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQJ1RYhUVEQ-Z7o5yVYdy5EM25mPpZ5MmZOPniG1f768T1C2Gq0xMT9juPBlTktamA6STcSJEFDVYZq/pub">Improvisation Materials</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vScDt80lgPWWtiKT2zVxK_cL3TpHZ9-9bCDK2qYVjk7vD66498b6FXYN60BaC65WksRcm_ACi5ivE2f/pub">Improvisation Lesson Plan</a></p>

  <br  />

  <h4 class="subHeader">Composition Project</h4>

  <p><a href="https://drive.google.com/open?id=1NH4gvBb8XLFdg7pur30sxH6iGr9hBGvp"target="blank">Old Rauma Score and Parts</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vTLsZPunsbT-mj0m49MxD58iKGPS8fdoApb5ajhKlRoJHyXH9CZYEYMzuP7HKY4m22zz2GeBaZU5X9c/pub">Reflection</a></p>

  <br   />

  <h4 class="subHeader">Creative Curriculum Project</h4>

  <p><a href="https://drive.google.com/open?id=1fth4HQnHkqPgvF5GHf_cYKOt1QFNXTeg" target="blank">Creative Curriculum Project</a></p>

  <br  />
  <br  />

</div>
