<br />
<br />
<div class="portfolio">

  <h3>MUS 382B</h3>
  <p><a href="/#/materials/382b">Recruiting Materials </a></p>

  <h3>Mini Lesson 2</h3>
  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/RTcTapNxwsM?rel=0" frameborder="0" allowfullscreen></iframe>

  <br  />
  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vROKBxUbl00EOeZEP1BlnRWfRQ1Mlz28v9IGw5Firj5Da2KRSkmC1PNDais1Ntg-qMSzEo5f9fWsKXM/pub">Mini Lesson 2 Lesson Plan</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vT3cKELFKaWENS-U7G5tsEGXevcGGk04R0Q6PFnyLCpBiNppGgUwcm6Pc6uI0PMEca8c7gz9ipaL9lk/pub">Mini Lesson 2 Reflection</a></p>

  <h3>Orff Lesson</h3>

  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/Ln5hIqVWfFo?rel=0" frameborder="0" allowfullscreen></iframe>

  <br  />
  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQNz29g122hffhmUsvD_UXojCiqAox3UwXCc8Mq0PsjYGpcCt1XmYkk1OV4TjaFaLbnHLywaoIOKLMH/pub?embedded=true">Orff Lesson Plan</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vTAz_hxS_y_qqtBpbvCIpc-GxEyBNN1qfkKbS1eHqfsCsJLBycX5h8PH974V3PpwZNJ9eLebGWnX1f7/pub?embedded=true">Orff Reflection</a></p>

  <h3>Teaching A Song</h3>

  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/Wyc4eZ0UgNw?rel=0" frameborder="0" allowfullscreen></iframe>

  <br  />
  <br  />

  <p><a href="https://drive.google.com/file/d/1sQzIXug_C_GplCoqhIVyUUmRGYd59_mL/preview" width="640" height="480">Reflection</a></p>

  <br  />
  <br  />

</div>
