<br />
<br />
<div class="portfolio">

  <h4 class="subHeader">MUS 382B</h4>

  <p><a href="/#/materials/382b">Recruiting Materials </a></p>

  <h4 class="subHeader">Music Literature Project</h4>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQYgjph3cfhUh8cPI-Au7HsqhTOzDKpfd1n74yZ0BOv4LGgboIGyAGy_RqUqrCd-fvCLjGhRmmwKSys/pub?embedded=true">Music Literature Project</a></p>

  <h4 class="subHeader">Module 1 Lesson</h4>

  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/2XnqxH82UhU?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vRl9FDSbxRHbQyRvtoCAuFJjcNjhTkPqa14V7xEKnsm4kQb3sIeqtFKEnfI1BQiv_E-3nPls2aHeZuy/pub?embedded=true">Module 1 Reflection</a></p>

  <br  />
  <br  />

  <h4 class="subHeader">MUS 485</h4>

  <h4 class="subHeader">Teaching A Song</h4>


  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/Wyc4eZ0UgNw?rel=0" frameborder="0" allowfullscreen></iframe>

  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQo89zfX_RJrTnv7xpZ9vGVQERE0E8UIG64t2z9u4N24QjV-lHl69emMdClN2cNJgoIg8G5ycxzXz1Q/pub?embedded=true">Teaching a Song Reflection</a></p>

  <br  />
  <br  />


  <h4 class="subHeader">Orffestration</h4>

  <iframe class="youtube"width="560" height="315" src="https://www.youtube.com/embed/7J1ozsrTnm4?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vRu1aDkbj7oKFPkxVQxgYqaObpRdB4Fx687TcdrUWFc_pJVBVTi9dUJmK-PdhXJhrXpCEm2XjyQGKb3/pub?embedded=true">Orffestration Lesson Plan</a></p>

  <br  />

  <h4 class="subHeader">Rap</h4>

  <iframe class="youtube" width="560" height="315" srcwidth="560" height="315" src="https://www.youtube.com/embed/XGA_g8q2SwI?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <br  />
  <br  />

  <h4 class="subHeader">MUS 482B</h4>

  <h4 class="subHeader">Improvisation Project</h4>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQJ1RYhUVEQ-Z7o5yVYdy5EM25mPpZ5MmZOPniG1f768T1C2Gq0xMT9juPBlTktamA6STcSJEFDVYZq/pub">Improvisation Materials</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vScDt80lgPWWtiKT2zVxK_cL3TpHZ9-9bCDK2qYVjk7vD66498b6FXYN60BaC65WksRcm_ACi5ivE2f/pub">Improvisation Lesson Plan</a></p>

  <br  />

  <h4 class="subHeader">Composition Project</h4>

  <p><a href="https://drive.google.com/open?id=1NH4gvBb8XLFdg7pur30sxH6iGr9hBGvp"target="blank">Old Rauma Score and Parts</a></p>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vTLsZPunsbT-mj0m49MxD58iKGPS8fdoApb5ajhKlRoJHyXH9CZYEYMzuP7HKY4m22zz2GeBaZU5X9c/pub">Reflection</a></p>

  <br   />

  <h4 class="subHeader">Creative Curriculum Project</h4>

  <p><a href="https://drive.google.com/open?id=1fth4HQnHkqPgvF5GHf_cYKOt1QFNXTeg" target="blank">Creative Curriculum Project</a></p>

    <br  />
    <br  />

</div>
