<br />
<br />
<div class="portfolio">

  <h4 class="subHeader">MUS 382B</h4>

  <p><a href="/#/materials/382b">Recruiting Materials </a></p>

  <h4 class="subHeader">Music Literature Project</h4>

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQYgjph3cfhUh8cPI-Au7HsqhTOzDKpfd1n74yZ0BOv4LGgboIGyAGy_RqUqrCd-fvCLjGhRmmwKSys/pub?embedded=true">Music Literature Project</a></p>

  <h4 class="subHeader">Module 1 Lesson</h4>

  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/2XnqxH82UhU?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <br  />
  
  <p><a href="https://docs.google.com/document/d/e/2PACX-1vRl9FDSbxRHbQyRvtoCAuFJjcNjhTkPqa14V7xEKnsm4kQb3sIeqtFKEnfI1BQiv_E-3nPls2aHeZuy/pub?embedded=true">Module 1 Reflection</a></p>

  <br  />
  <br  />

  <h4 class="subHeader">MUS 485</h4>

  <h4 class="subHeader">Teaching A Song</h4>


  <iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/Wyc4eZ0UgNw?rel=0" frameborder="0" allowfullscreen></iframe>

  <br  />

  <p><a href="https://docs.google.com/document/d/e/2PACX-1vQo89zfX_RJrTnv7xpZ9vGVQERE0E8UIG64t2z9u4N24QjV-lHl69emMdClN2cNJgoIg8G5ycxzXz1Q/pub?embedded=true">Teaching a Song Reflection</a></p>

  <br  />
  <br  />


  <h4 class="subHeader">Orffestration</h4>



  <br  />
  <br  />

  <h4 class="subHeader">littleBits Rap</h4>

  <br  />
  <br  />

</div>
